
.toptopcont{

    margin-top: 60px;
  }
  
  .details{
      position: absolute;
  width: 870px;
  height: 318px;
  left: 126px;
  top: 250px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  
  color: #000000;
  }
  
  /* nav bar background clour edit */
  .bg{
      background-color: #024609;
    }
    .navbar-brand{
      margin: 0;
    }
    /* logo image size edit */
    .logo img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
      /* point viwe edit */
    #navbarSupportedContent li a:hover{
      padding: 20px 15px;
        background: rgb(17, 194, 11);
        transition: 0.5s;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 15px;
        border: 2px solid rgb(228, 253, 3);
       border-radius: 9px;
      
    }  
    .nav-item{
      font-size: 20px;
    }
    
    .footer-bs {
        margin-top: 20px;
      background-color: #309417;
      padding: 60px 40px;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 0px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 6px;
    }
    .footer-bs .footer-brand,
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
      padding: 10px 25px;
    }
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
      border-color: transparent;
    }
    .footer-bs .footer-brand h2 {
      margin: 0px 0px 10px;
    }
    .footer-bs .footer-brand p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
    
    .footer-bs .footer-nav ul.pages {
      list-style: none;
      padding: 0px;
    }
    .footer-bs .footer-nav ul.pages li {
      padding: 5px 0px;
    }
    .footer-bs .footer-nav ul.pages a {
      color: rgba(255, 255, 255, 1);
      font-weight: bold;
      text-transform: uppercase;
    }
    .footer-bs .footer-nav ul.pages a:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
    }
    .footer-bs .footer-nav h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    
    .footer-bs .footer-nav ul.list {
      list-style: none;
      padding: 0px;
    }
    .footer-bs .footer-nav ul.list li {
      padding: 5px 0px;
    }
    .footer-bs .footer-nav ul.list a {
      color: rgba(255, 255, 255, 0.8);
    }
    .footer-bs .footer-nav ul.list a:hover {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }
    
    .footer-bs .footer-social ul {
      list-style: none;
      padding: 0px;
    }
    .footer-bs .footer-social h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    .footer-bs .footer-social li {
      padding: 5px 4px;
    }
    .footer-bs .footer-social a {
      color: rgba(255, 255, 255, 1);
    }
    .footer-bs .footer-social a:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
    }
    
    .footer-bs .footer-ns h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    .footer-bs .footer-ns p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
    
    @media (min-width: 768px) {
      .footer-bs .footer-nav,
      .footer-bs .footer-social,
      .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.1);
      }
    }
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
    
    body {
      font-family: "Source Sans Pro", sans-serif;
      line-height: 1.5;
      color: #323232;
      font-size: 15px;
      font-weight: 400;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
    }
    .heading-title {
      margin-bottom: 100px;
    }
    .text-center {
      text-align: center;
    }
    .heading-title h3 {
      margin-bottom: 0;
      letter-spacing: 2px;
      font-weight: normal;
    }
    .p-top-30 {
      padding-top: 30px;
    }
    .half-txt {
      width: 60%;
      margin: 0 auto;
      display: inline-block;
      line-height: 25px;
      color: #7e7e7e;
    }
    .text-uppercase {
      text-transform: uppercase;
    }
    
    .team-member,
    .team-member .team-img {
      position: relative;
    }
    .team-member {
      overflow: hidden;
    }
    .team-member,
    .team-member .team-img {
      position: relative;
    }
    
    .team-hover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      border: 20px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.9);
      opacity: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    .team-member:hover .team-hover .desk {
      top: 35%;
    }
    .team-member:hover .team-hover,
    .team-member:hover .team-hover .desk,
    .team-member:hover .team-hover .s-link {
      opacity: 1;
    }
    .team-hover .desk {
      position: absolute;
      top: 0%;
      width: 100%;
      opacity: 0;
      -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
      transform: translateY(-55%);
      -webkit-transition: all 0.3s 0.2s;
      transition: all 0.3s 0.2s;
      padding: 0 20px;
    }
    .desk,
    .desk h4,
    .team-hover .s-link a {
      text-align: center;
      color: #222;
    }
    .team-member:hover .team-hover .s-link {
      bottom: 10%;
    }
    .team-member:hover .team-hover,
    .team-member:hover .team-hover .desk,
    .team-member:hover .team-hover .s-link {
      opacity: 1;
    }
    .team-hover .s-link {
      position: absolute;
      bottom: 0;
      width: 100%;
      opacity: 0;
      text-align: center;
      -webkit-transform: translateY(45%);
      -ms-transform: translateY(45%);
      transform: translateY(45%);
      -webkit-transition: all 0.3s 0.2s;
      transition: all 0.3s 0.2s;
      font-size: 35px;
    }
    .desk,
    .desk h4,
    .team-hover .s-link a {
      text-align: center;
      color: #222;
    }
    .team-member .s-link a {
      margin: 0 10px;
      color: #333;
      font-size: 16px;
    }
    .team-title {
      position: static;
      padding: 20px 0;
      display: inline-block;
      letter-spacing: 2px;
      width: 100%;
    }
    .team-title h5 {
      margin-bottom: 0px;
      display: block;
      text-transform: uppercase;
    }
    .team-title span {
      font-size: 12px;
      text-transform: uppercase;
      color: #a5a5a5;
      letter-spacing: 1px;
    }
    