.contact{
    top: 30%;
}

.pr1{
    font-family: Roboto;
font-style: bold;
font-weight: bold;
font-size: 64px;
line-height: 75px;
display: flex;
align-items: center;

color: #000000;

}
box{
    margin-left: 300px;
    width: 50%;
    border-style: solid;
    border-width: 6px;
    background-color: rgb(187, 52, 52);
}

.bod1{
   background-color: rgb(187, 52, 52);
    border-style: dashed;
    width: 20px;
}s