/* nav bar background clour edit */
.bg{
	background-color: #024609;
  
  }

.paddwn{
  padding-top: 116px;
}

  .navbar-brand{
	margin: 0;
  }
  /* logo image size edit */
  .logo img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
  }
	/* point viwe edit */
  #navbarSupportedContent li a:hover{
	padding: 20px 15px; 
	  background: rgb(17, 194, 11);
	  transition: 0.5s;
	  text-transform: uppercase;
	  text-decoration: none;
	  border-radius: 15px;
	  border: 2px solid rgb(228, 253, 3);
	 border-radius: 9px;
	
  }  
  .nav-item{
	font-size: 20px;
  }

  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(9, 9, 9, 0.8);
    
    overflow: hidden;
    position: relative;
height: 512px;
    
  }
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #hero .carousel-item::before {
    content: "";
    background-color: rgba(45, 103, 60, 0.274);
  }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50px;
    right: 50px;
  }
  #hero .container {
    text-align: center;
  }
  #hero h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
  }
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.8s;
  }

  /* normal show next and back icon */
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgb(250, 252, 249);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* after click next and back icon */
  #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(110, 212, 14, 0.425);
    color: rgba(11, 46, 3, 0.568);
  }
  /* 3 dot slide change */
  #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
  }
  /* show slide doi button */
  #hero .carousel-indicators li.active {
    opacity: 100;
    background: #5cb874;
  }
  /* read more button */
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: #5cb874;
  }
  #hero .btn-get-started:hover {
    background: #000e04;
  }
  @media (max-width: 992px) {
    #hero {
      height: 100vh;
    }
    #hero .carousel-container {
      top: 66px;
    }
  }
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  @media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }

  /* ---------------------end home slide------------------------ */

  .sdg15row p{
    
      animation-duration: 10s;
      animation-name: slidein;
      animation-iteration-count: infinite;

      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      /* font-style: normal;
      font-weight: normal; */
      font-size: 48px;
      line-height: 54px;

    }

    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
    /* *******************************callenge button start************************************ */
    .bs-example{
    	margin: 0px;
    }
    .chalrow{
      background-color: #54FA64;
    }
    .solo{
text-align: center;
    }
    .chael{

    }
p.clikchl{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

/* ________________start coment upload about as_________________________ */
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: rgb(255, 255, 254);
  box-shadow: 0px 5px 90px 0px rgba(212, 149, 13, 0.2);
}
.services .icon-box .icon {
  margin: 0 auto;
  /* ___________________________________size shape */
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}
.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}


/* ---------unde shepes clour------------ */
.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}
.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 1px 0;
  font-size: 22px;
}
.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
/* big box */
.services .icon-box:hover {
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0 35px 0 rgb(103, 243, 117);
}


.gemsic img{
width: 50%;
height: 50%;
  
}
.commic img{
  width: 50%;
  height: 50%;
}
.upupic img{
  width: 50%;
  height: 50%;
} 