/* Background Color */

#bg-color {
    background-color: #e9f3e9;
}


/* Loging form title */

#form-title {
    color: #309417;
}


/* +++++++Form Boder +++++++ */

.form-container {
    position: absolute;
    background-color: #e9f3e9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgb(51, 153, 51) 0px 0px 10px;
    width: 500px;
    top: 15vh;
    left: 500px;
}


/* +++++++Remove underline from links+++++++ */

a:link {
    text-decoration: none;
}


/* Fogot password link */

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


/* +++++++Login button align +++++++ */

.login-bt-section {
    text-align: center;
}


/* +++++++Login button +++++++ */

.login-method-selection {
    text-align: center;
    margin: 10px;
}


/* +++++++Login button +++++++ */

.col-md-12 {
    text-align: center;
}