*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: Thin;
Font-size: 20px;
Line-height: 23px;
Line-height: 100%;
align-items: Left;
vertical-align: Center;
Fill: Solid #000000 ;
/* background-color: #309417; */

}

.bg-col{
  background-color:#CCFACD;
}
#prfphoto{
           height:100px;
           width:110px;
           border-radius:50%;
           overflow:hidden;
             }
    #file{
         display:none;
         }

    #uploadButton{
          height:25px;
           width:150px;
           float:center;
           background:#309417;
           color:wheat;
           line-height:100%;
           font-size:20px;
           font-family:Roboto;
           font-style:bold;
           cursor:pointer;
           border-radius:0.2em;
           overflow:hidden;
               }

     #submit{
             background:#309417;
             color:wheat;
            border-radius:0.3em;
           overflow:hidden;
             }
              
       #cancel{
              background:rgba(140, 146, 149, 0.75);
              border-radius:0.3em;
           overflow:hidden;
               }
            h1.cen{
              text-align: center;
}

.form-details{
position: center;
width: 60%;
top: 10%;
left: 50%;
transform: translate(-50%,-50%); 
background-color: #9CEEA6;

margin-top: 5%;
height:88%;
margin-bottom:20%;
}         
label{
width: 35%;
}
input[type=text],input[type=password]{
padding: 5px;
width:450px;
}

/*Mobile size*/
@media (max-width: 480px) {
.form-details{
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0%;
  transform: translate(-00%,-00%);
  background-color: #9CEEA6;
  padding: 10px;
}  
input[type=text],input[type=password]{
  padding: 5px;
  width:100%;
  margin-top: 8px;
}
label{
  width: 50%;
}
}

/*Low resolution tab size*/
@media (min-width: 481px) and (max-width: 767px) {
.form-details{
  position: absolute;
  width: 90%;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-10%);
  background-color: #9CEEA6;
  padding: 10px;
  margin-top: 15%;
  
}  
input[type=text],input[type=password]{
  padding: 5px;
  width:100%;
  margin-top: 10px;
}
label{
  width: 40%;
}
}  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
.form-details{
  position: absolute;
  width: 90%;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
  background-color: #9CEEA6;
  padding: 10px;
  margin-top: 8%;
}  
input[type=text],input[type=password]{
  padding: 5px;
  width:54%;
}
label{
  width: 45%;
}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
.form-details{
  position: absolute;
  width: 90%;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
  background-color: #9CEEA6;
  padding: 10px;
  margin-top: 8%;
}  
input[type=text],input[type=password]{
  padding: 5px;
  width:65%;
}
label{
  width: 30%;
}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
.form-details{
  position: absolute;
  width: 60%;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
  background-color: #9CEEA6;
  padding: 10px;
}  
input[type=text],input[type=password]{
  padding: 5px;
  width:60%;
}
}